<div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top">
    <i class="fa fa-user"></i>
    {{title}}
  </span>
  <div class="count">
    {{count}}
  </div>
  <span class="count_bottom">
    <i class="green" *ngIf="changeFromLastMonth >= 0">
        +{{changeFromLastMonth}} ({{changeFromLastMonthPercent | number: '0.0-0'}}%)
    </i>
    <i class="red" *ngIf="changeFromLastMonth < 0">
        -{{changeFromLastMonth}} ({{changeFromLastMonthPercent | number: '0.0-0'}}%)
      </i>
    From last Month</span>
</div>